<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Filter List</button>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Filters</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form 
      action=<%= reqUrl.includes('dogs') ? "/dogs-for-adoption" : reqUrl.includes('cats') ? "/cats-for-adoption" : "/error-link" %>
      method="POST">
      <div>
        <input name="locationInput" type="text" placeholder="Postal Code"><br>
        <small class="form-text text-muted">E.g US: 123456, CAN: A1B 2C3.</small>
        <small class="form-text text-muted"><%= reqUrl %></small>
      </div>
      <div>
        <%- include('../partials/filters/size.ejs') %>
      </div>
  
      <div>
        <%- include('../partials/filters/breeds.ejs') %>
      </div>
  
      <div>
        <%- include('../partials/filters/colors.ejs') %>
      </div>
  
      <div>
        <%- include('../partials/filters/gender.ejs') %>
      </div>
  
      <div>
        <%- include('../partials/filters/age.ejs') %>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      
    </form>
    <form 
      action=<%= reqUrl.includes('dogs') ? "/dogs-for-adoption" : reqUrl.includes('cats') ? "/cats-for-adoption" : "/error-link" %>
      method="POST">
      <button type="submit" class="btn btn-primary" name="clear" value="true">Clear Filter(s)</button>
    </form>
  </div>
</div>